target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Node.js ###
node_modules/
npm-debug.log
yarn-error.log
web/node_modules/
web/dist/
web/npm-debug.log
web/yarn-error.log

### Mac OS ###
.DS_Store

### User Uploads ###
files/
